@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 45 93% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 221 83% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 45 93% 58%;
    --radius: 0.75rem;
    --success: 142 71% 45%;
    --chart-1: 45 93% 58%;
    --chart-2: 221 83% 53%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 7%;
    --primary: 45 93% 58%;
    --accent: 221 83% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
